<div class="education-container">
  <img src="educationImage.png" alt="Chibi style image" class="img_4" />

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title><h3>Cleveland State University</h3></mat-panel-title>
        <mat-panel-description><h4><i>Master’s in Information Systems (AI/ML)</i></h4></mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        Earned a Master’s in Information Systems with a concentration in <strong>AI</strong> and <strong>ML</strong>, focusing on advanced algorithms and hands-on experience in <strong>data analysis</strong>, <strong>model development</strong>, and <strong>intelligent systems</strong>.
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title><h3>VR Siddhartha Engineering College</h3></mat-panel-title>
        <mat-panel-description><h4><i>B.Tech in Mechanical Engineering</i></h4></mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        Earned a Bachelor’s in Mechanical Engineering with focus on <strong>mechanics</strong>, <strong>thermodynamics</strong>, and <strong>materials science</strong>. Gained strong <strong>problem-solving</strong> and <strong>system design</strong> experience.
      </p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
