<div class="skills-section">
  <img src="skillsImage.png" alt="Skills Image" class="skills-image" />

  <div class="skills-grid">
    <mat-card *ngFor="let group of skillGroups" class="skill-card">
      <mat-card-header>
        <mat-card-title>{{ group.title }}</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p class="skill-line">
          <ng-container *ngFor="let skill of group.skills; let last = last">
            {{ skill }}<span *ngIf="!last"> | </span>
          </ng-container>
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
