<div class="skills">
  <img src="skillsImage.png" alt="chibi style image" class="img_6" />

  <mat-accordion class="skills-accordion">
    <mat-expansion-panel *ngFor="let group of skillGroups" class="skill-panel">
      <mat-expansion-panel-header class="skill-header">
        <mat-panel-title>
          <h3 class="skill-title">{{ group.title }}</h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
  
      <p class="skill-list">
        <ng-container *ngFor="let skill of group.skills; let last = last">
          {{ skill }}<span *ngIf="!last"> | </span>
        </ng-container>
      </p>
    </mat-expansion-panel>
  </mat-accordion>
  
</div>
