<div class="container">
  <img src="homeImage.png" alt="Chibi style image" class="img_1" />
  <div class="info-container">
    <h1>Yuvaraj Reddy Sanagala</h1>
    <h3>
      AI/ML Engineer
      <button>
        <a
          mat-button
          href="https://docs.google.com/document/d/1Oa66k4hKYgo4bN16ejySjw4qF7rRyX13/edit?usp=sharing&ouid=105296244775142849249&rtpof=true&sd=true"
          target="_blank"
          rel="noopener"
        >
          Resume
        </a>
      </button>
    </h3>
    <p class="info-points">
      <strong>AI/ML Engineer</strong> with 4+ years of experience delivering production-ready solutions in healthcare, finance, and manufacturing.
    </p>
    <p class="info-points">
      Skilled in end-to-end ML pipelines, <strong>NLP, computer vision</strong>, and recommendation systems using <strong>Python, PyTorch, TensorFlow</strong>, and <strong>Hugging Face</strong>.
    </p>
    <p class="info-points">
      Strong background in <strong>MLOps</strong>, including CI/CD and deployment using <strong>Docker, Kubernetes, MLflow</strong>, and cloud platforms like <strong>AWS, GCP, and Azure</strong>.
    </p>
    <p class="info-points">
      Adept at collaborating with cross-functional teams to build <strong>scalable, explainable, high-performance AI solutions</strong>.
    </p>
  </div>
</div>
