<div class="container">
  <img src="homeImage.png" alt="Chibi style image" class="img_1" />
  <div class="info-container">
    <h1>Yuvaraj Reddy Sanagala</h1>
    <h3>AI/ML Engineer <button><a
      mat-button
      href="https://docs.google.com/document/d/1Oa66k4hKYgo4bN16ejySjw4qF7rRyX13/edit?usp=sharing&ouid=105296244775142849249&rtpof=true&sd=true"
      target="_blank"
      rel="noopener"
      >Resume</a
    ></button></h3>
    <p class="info-points">
      <strong>4+ years</strong> of experience in AI/ML across healthcare,
      finance, and enterprise domains.
    </p>
    <p class="info-points">
      Expert in <strong>NLP, computer vision</strong>, and
      <strong>LLM-based systems</strong> (RAG, LangChain, FAISS).
    </p>
    <p class="info-points">
      Skilled in fine-tuning <strong>BERT, RoBERTa, ViT</strong> and deploying
      via <strong>Flask, Django, Kubernetes</strong>.
    </p>
    <p class="info-points">
      Hands-on with <strong>AWS, Azure</strong>, and big data tools like
      <strong>Spark</strong> and <strong>Kafka</strong>.
    </p>
    <p class="info-points">
      Experienced in <strong>MLOps</strong>: Docker, MLflow, CI/CD, and scalable
      ML workflows.
    </p>
  </div>
</div>
