<div class="navbar-container">
    <a routerLink="/" class="element">Portfolio</a>
    <ul class="navbar-elements"> 
      <li class="navbar-element">
        <a routerLink="/">Home</a> 
      </li>
      <li class="navbar-element">
        <a routerLink="/Experience">Experience</a>
      </li>
      <li class="navbar-element">
        <a routerLink="/Skills">Skills</a>
      </li>
      <li class="navbar-element">
        <a routerLink="/Projects">Projects</a>
      </li>
      <li class="navbar-element">
        <a routerLink="/Education">Education</a>
      </li>
    </ul>
</div>