.social-icons-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .icon {
    display: inline-flex;
    align-items: center;
    font-weight: bolder;
    text-decoration: none;
    color: #CCCCCC;
    gap:10px;
    transition: all 0.3s ease;
    padding: 8px 12px;
    border-radius: 5px;

    fa-icon,
    span {
      transition: color 0.3s ease;
      color: inherit;
    }

    @media screen and (max-width: 820px) {
      span {
        display: none;
      }
    }

    &:hover {
      color: #FF6F00;
      transform: scale(1.1);

      fa-icon,
      span {
        color: #FF6F00;
      }
    }
  }
}
