<div class="social-icons-container">
    <a href="mailto:yuvarajreddysanagala18@gmail.com" target="_blank" aria-label="Email" class="icon email">
        <fa-icon [icon]="faEnvelope"></fa-icon>
        <span>Email</span>
    </a>
    <a href="tel:+12162356411" aria-label="Phone" class="icon phone">
        <fa-icon [icon]="faPhone"></fa-icon>
        <span>Phone</span>
    </a>
    <a href="https://github.com/Yuvaraj-Reddy-Sanagala" target="_blank" aria-label="GitHub" class="icon github">
        <fa-icon [icon]="faGithub"></fa-icon>
        <span>Github</span>
    </a>
    <a href="https://www.linkedin.com/public-profile/settings?trk=d_flagship3_profile_self_view_public_profile" target="_blank" aria-label="LinkedIn" class="icon linkedin">
        <fa-icon [icon]="faLinkedin"></fa-icon>
        <span>LinkedIn</span>
    </a>
</div>